<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/logout.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    </head>
    <body>s
        <div class="container text-center">
            <h2>¡Hasta la vista!</h2>
            <a href="{% url 'foros' %}">Volver a la pagina principal</a>
        </div>
    </body>
</html>